
<div class="window-wrapper">
      <div class="login-form main-form-wrapper">
          <h1 class="text-row" id="logo">
             Heavy Wallet
          </h1>
          <form [formGroup]="LoginForm" (ngSubmit)="login()">
              <h3 class="text-row">
                  Вхід
              </h3>
              <input formControlName="email"  class="input-field" type="text" placeholder="Пошта">
              <input formControlName="password" class="input-field" type="password" placeholder="Пароль">
              <div class="error-wrapper">
                  <div id="login-error" class="error-text">
                      Неправильні вхідні дані
                  </div>
              </div>
              <button type="submit" id="login_button">
                  Увійти
              </button>
              <a routerLink="/registration"  class="text-row">
                  Створити аккаунт
              </a>
          </form>
      </div>
  </div>
