.user-settings {
    // background: red;
    display: flex;
    flex-direction: column;
    padding: 0 60px 40px;
}

.field-title{
    margin: 0 0 5px;
}

.user-info-frame{
    height: calc(100vh - 60px);
}
.save-button{
    margin:auto;
}
